<div class="container-form col-12 col-xl-9">
  <div *ngIf="loading" class="loading-window">
    <div class="alert alert-info lead text-center">
      <i class="fa fa-fw fa-spinner fa-pulse" aria-hidden="true"></i>
      Cargando...
    </div>
  </div>

  <h4 class="mb-3">Crear empresa</h4>

  <div class="row">
    <div class="register-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group mb-3">
          <label>Nombre</label> <span class="text-danger"> *</span>
          <input type="text" formControlName="name" class="form-control" placeholder="Escribe el nombre de la empresa"
                 [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors['required']">El nombre es requerido</div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label>Dirección</label>

          <input type="text" formControlName="address" class="form-control"
                 placeholder="Escribe la dirección de la empresa"/>
        </div>

        <div class="form-group mb-3">
          <label>Email</label>

          <input type="text" formControlName="email" class="form-control"
                 placeholder="Escribe el email de la empresa"/>
        </div>

        <div class="form-group mb-3">
          <label>Número de telefono</label>

          <input type="text" formControlName="mobileNumber" class="form-control"
                 placeholder="Escribe el número de telefono de la empresa"/>
        </div>

        <div class="col-12 ms-2 container-buttons">
          <button type="button" (click)="onReset()" class="btn btn-warning">
            Limpiar
          </button>

          <button [disabled]="!form.dirty" type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
